<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Tokbox-POC</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="/js/home.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<div style="padding: 3em; color: black;">
    <h1>Please join a session:</h1>

    <div>
        <button onclick="updateUrl()">Generate Url</button>
    </div>

    <div>
        <h2>Publisher Url</h2>
        <a id="pub-room" style="color: black" href=window.location.origin>-</a>
    </div>

    <div>
        <h2>Subscriber Url</h2>
        <a id="sub-room" style="color: red" href=window.location.origin>-</a>
    </div>

    <!--<table>-->
        <!--<thead>-->
            <!--<tr>-->
                <!--<th>Room #</th>-->
                <!--<th>Sessions</th>-->
            <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
            <!--<tr>-->
                <!--<td>1</td>-->
                <!--<td>-->
                    <!--<a href="https://dev2.notarycam.com/session/1_MX40NjA2NTk1Mn5-MTUxOTM0MTQ3NjQ4M35NNmdrUGo2NlFlb3FydEQxelhST2pGRk1-UH4">1_MX40NjA2NTk1Mn5-MTUxOTM0MTQ3NjQ4M35NNmdrUGo2NlFlb3FydEQxelhST2pGRk1-UH4</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>2</td>-->
                <!--<td>-->
                    <!--<a href="https://dev2.notarycam.com/session/2_MX40NjA2NTk1Mn5-MTUxOTM0MTQ5NjU3NH5hN1U1N2lGOWtieGhYT1NWZFJKcDF3VDJ-UH4">2_MX40NjA2NTk1Mn5-MTUxOTM0MTQ5NjU3NH5hN1U1N2lGOWtieGhYT1NWZFJKcDF3VDJ-UH4</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>3</td>-->
                <!--<td>-->
                    <!--<a href="https://dev2.notarycam.com/session/2_MX40NjA2NTk1Mn5-MTUxOTM0MTUxMjM3NX5QcTRFY2tyZS9TVDdvMjNsRVpHdTRaa3B-UH4">2_MX40NjA2NTk1Mn5-MTUxOTM0MTUxMjM3NX5QcTRFY2tyZS9TVDdvMjNsRVpHdTRaa3B-UH4</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>4</td>-->
                <!--<td>-->
                    <!--<a href="https://dev2.notarycam.com/session/1_MX40NjA2NTk1Mn5-MTUxOTM0MTUyNDIxM35nS0VSdjIxQjJ3RjBWSFZBOEVjZFZ6WTB-UH4">1_MX40NjA2NTk1Mn5-MTUxOTM0MTUyNDIxM35nS0VSdjIxQjJ3RjBWSFZBOEVjZFZ6WTB-UH4</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>5</td>-->
                <!--<td>-->
                    <!--<a href="https://dev2.notarycam.com/session/1_MX40NjA2NTk1Mn5-MTUxOTM0MTUzOTg5NX5wRTJZOWs3ZkJFamZzc3JFSGVXS0hnOEl-UH4">1_MX40NjA2NTk1Mn5-MTUxOTM0MTUzOTg5NX5wRTJZOWs3ZkJFamZzc3JFSGVXS0hnOEl-UH4</a>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
</div>


</body>
</html>
